# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio / VSCode
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Crash & debug
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Database
*.opendb
*.VC.db